apiVersion: v1
kind: Secret
metadata:
    name: app-secrets
type: Opaque
stringData:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    JWT_SECRET: ${JWT_SECRET}    
