apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for mysql DNS..."
              until nslookup mysql; do
                sleep 2
              done

              echo "Waiting for MySQL port 3306..."
              until nc -z mysql 3306; do
                sleep 2
              done

      containers:
        - name: backend
          image: bhupendrabhati/book-review-backend:latest
          ports:
            - containerPort: 3001
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_USER
              value: bookuser
            - name: DB_PASSWORD
              value: bookpass
            - name: DB_NAME
              value: bookreview
