apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-mysql
          image: mysql:8.0
          command:
            - sh
            - -c
            - |
              until mysql -h mysql -u root -prootpassword -e "SELECT 1"; do
                echo "Waiting for MySQL..."
                sleep 5
              done
      containers:
        - name: backend
          image: bhupendrabhati/book-review-backend:latest
          ports:
            - containerPort: 3001
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_USER
              value: bookuser
            - name: DB_PASSWORD
              value: bookpass
            - name: DB_NAME
              value: bookreview